@import './variables.scss';
@import './mixins.scss';

.footer {
  background: $dark-blue;
  &__wrapper {
    padding: 120px 104px;
    @media (max-width: 1200px) {
      padding: 6vw;
    }
    @media (max-width: 360px) {
      padding: 40px 68px 40px 67px;
    }
    .logo {
      display: none;
      @media (max-width: 360px) {
        display: block;
        text-align: center;
      }
    }
    .footer-logo-white {
      display: none;
      text-align: center;
      @media (max-width: 1200px) {
        display: block;
      }
      @media (max-width: 360px) {
        display: none;
      }
    }
    .footer__navigation {
      @media (max-width: 1200px) {
        margin-top: 70px;
      }
      @media (max-width: 360px) {
        margin-top: 40px;
      }
      .navigation {
        li {
          list-style-type: none;
        }
        a {
          text-decoration: none;
          color: #ffffff;
        }
        &__list {
          display: flex;
          justify-content: space-between;
          .navigation__item {
            &>a {
              @include font ("Roboto Medium", 20px);
               @media (max-width: 360px) {
                  font-size: 15px;
                  text-decoration: underline;
                }
            }
            ul {
              margin-top: 24px;
              @media (max-width: 1200px) {
                display: none;
              }
              @media (max-width: 360px) {
                display: none;
              }
              li:not(:last-child) {
                margin-bottom: 24px;
              }
              a {
                @include font ("Roboto Regular", 20px);
                @media (max-width: 1200px) {
                  font-size: 30px;
                  text-decoration: underline;
                }
                @media (max-width: 800px) {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      p {
        color: $white;
        margin-top: 64px;
        @include font ("Roboto Regular", 14px);
        @media (max-width: 1200px) {
          font-size: 25px;
          margin-top: 32px;
          text-align: center;
        }
        @media (max-width: 360px) {
          font-size: 12px;
        }
      }
    }
  }
}