* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    height: 100vh;
    background-image: url(./images/header-background.png);
    background-size: cover;
}

.header__wrapper {
    padding: 3vw 6vw 7vw;
} 

.header__bar {
    display: flex;
    justify-content: space-between;
}

.header__block {
    display: flex;
    align-items: center;
}

.header__navigation ul {
    display: flex;
    list-style-type: none;
}

.header__navigation li {
    margin-left: 24px;
    position: relative;
}

.header__navigation li:hover::after, .active__link::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #F5BD41;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.header__navigation li:not(.active__link)::after {
    animation: line 1s linear;
}

@keyframes line {
    from {opacity: 0;}
    to {opacity: 1;}
}

.header__navigation a {
    font-family: "Roboto Regular";
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

.user__settings {
    margin-left: 48px;
    display: flex;
    align-items: center;
}

.night {
    background: url(./images/svg_sprite.svg);
    background-position: -72px 0;
    width: 30px;
    height: 30px;
}

.night:hover {
    background-position: -230px 0;
    cursor: pointer;
}

.login {
    margin-left: 22px;
    background: url(./images/svg_sprite.svg);
    background-position: -106px 0;
    width: 40px;
    height: 40px;
}

.login:hover {
    background-position: -268px -3px;
    cursor: pointer;
}

.menu {
    background: url(./images/svg_sprite.svg);
    background-position: -40px -4px;
    width: 24px;
    height: 16px;
    display: none;
}

.menu:hover {
    cursor: pointer;
}

.header__title {
    font-family: "Roboto Medium";
    font-size: 50px;
    color: #ffffff;
    margin-top: 12vw;
}

.main__form {
    margin-top: 100px;
}

.mobile__form {
    display: none;
}

.labels {
    font-family: "Roboto Regular";
    font-size: 18px;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 73px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.inputs {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 24px;
}

.inputs input {
    padding: 22px 24px 21px; 
    border: none;
    border-radius: 8px;
    outline-color: #F5BD41;
    outline-offset: -2px;
    font-family: "Roboto Regular";
    font-size: 18px;
}

.inputs input:first-child {
    width: 38%;
}

.inputs input:last-of-type {
    width: 25%;
}

.inputs input:nth-child(2) {
    width: 24%;
}

::placeholder {
    font-family: "Roboto Regular";
    font-size: 18px;
    color: #383838;
}

.inputs button {
    padding: 20px 57px;
    border: none;
    border-radius: 8px;
    background: #3077C6;
    color: #ffffff;
    font-family: "Roboto Medium";
    font-size: 24px;
    cursor: pointer;
}

.market__links {
    width: 265px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto 0px;
}

.offer__wrapper {
    padding: 120px 104px;
}

.section__title {
    font-family: "Roboto Medium";
    font-size: 40px;
    text-align: center;
}

.offer__title {
    position: relative;
}

.offer__title::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 4px;
    background-color: #F5BD41;
    bottom: -20px;
    left: 45%;
}

.items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.item p {
    font-family: "Roboto Regular";
    text-align: center;
    font-size: 24px;
    margin-top: 48px;
}

.support__icon {
    background: url(./images/svg_sprite.svg);
    background-position: -6px -112px;
    width: 76px;
    height: 92px;
    margin: 0 auto;
}

.communicate__icon {
    background: url(./images/svg_sprite.svg);
    background-position: -90px -112px;
    width: 84px;
    height: 92px;
    margin: 0 auto;
}

.book__icon {
    background: url(./images/svg_sprite.svg);
    background-position: -185px -112px;
    width: 100px;
    height: 92px;
    margin: 0 auto;
}

.review__icon {
    background: url(./images/svg_sprite.svg);
    background-position: -311px -113px;
    width: 92px;
    height: 92px;
    margin: 0 auto;
}

.home {
    background: #EAF0F9;
}

.home__wrapper {
    padding: 120px 101px;
}

.gallery {
    margin-top: 104px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.gallery::after {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(./images/svg_sprite.svg);
    background-position: -308px -2px;
    background-color: #f3f3f4;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 5px 5px grey;
    top: 32%;
    right: -2%;
    cursor: pointer;
    transition: .5s linear;
}

.gallery:hover::after {
    transform: scale(1.2);
}

.gallery__item:not(:first-child) {
    margin-left: 10px;
}

.gallery__item img {
    width: 100%;
}

.gallery__item h3 {
    font-family: "Roboto Regular";
    font-size: 24px;
    margin-top: 24px;
}

.gallery__item a {
    text-decoration: none;
    color: #3077c6;
}

.gallery__item p {
    font-family: "Roboto Regular";
    font-size: 24px;
    letter-spacing: -1px;
    color: #bfbfbf;
    margin-top: 24px;
}

footer {
    background: #10367C;
}

.footer__wrapper {
    padding: 120px 104px;
}

.logo {
    display: none;
}

.footer-logo-white {
    display: none;
    text-align: center;
}

.header-logo {
    display: none;
}

.navigation li {
    list-style-type: none;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
}

.navigation__item>a {
    font-family: "Roboto Medium";
    font-size: 20px;
}

.navigation__list ul {
    margin-top: 24px;
}

.navigation__list ul li:not(:last-child) {
    margin-bottom: 24px;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}
 
.navigation__item li a {
    font-family: "Roboto Regular";
    font-size: 20px;
}

.footer__navigation p {
    color: #ffffff;
    margin-top: 64px;
    font-family: "Roboto Regular";
    font-size: 14px;
}

@media (max-width: 1200px) {
    .main__form .form__content {
        display: flex;
        padding: 8px;
        border-radius: 8px;
    }

    .header__navigation a {
        font-size: 20px;
    }

    .header__title {
        font-size: 40px;
    }

    .labels {
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 155px; 
        font-size: 25px;
        padding-right: 0;  
        padding-left: 0;
    } 

    .inputs {
        flex-direction: column;
        width: 85%;
        margin-top: 0px;
        background-color: inherit;
    }

    .inputs input {
        border: #F5BD41 solid 4px;
        border-radius: 8px;
    }

    .main__form .inputs input {
        width: 100%;
        margin-bottom: 8px;
    }

    ::placeholder {
        text-align: center;
        font-size: 25px;
    }

    .offer__wrapper {
        padding: 6vw;
    }

    .item p {
        font-size: 21px;
    }
    
    .home__wrapper, .footer__wrapper {
        padding: 6vw;
    }

    .gallery__item h3, .gallery__item p {
        font-size: 21px;
    }

    .footer-logo-white {
        display: block;
    }

    .navigation__item ul {
        display: none;
    }

    .footer__navigation p {
        font-size: 25px;
        margin-top: 32px;
        text-align: center;
    }

    .navigation__item ul {
        display: none;
    }

    .navigation__item>a {
        font-size: 30px;
        text-decoration: underline;
    }


    .footer__navigation p {
        font-size: 12px;
        margin-top: 50px;
    }

    .footer__navigation {
        margin-top: 70px;
    }

}

@media (max-width: 800px) {
    .header__wrapper {
        padding: 3vw;
    }

    .header__navigation {
        display: none;
    }

    .user__settings {
        margin-left: 20px;
    }

    .login {
        margin-left: 10px;
    }

    .menu {
        display: block;
        margin-left: 10px;
    }

    .header__title {
        font-size: 35px;
    }

    .main__form {
        margin-top: 50px;
    }

    .labels {
        display: none;
    }

    .inputs {
        width: 100%;
    }

    .section__title {
        font-size: 35px;
    }

    .offer__title::after {
        content: none;
    }

    .items {
        flex-wrap: wrap;   
    }

    .item1, .item2, .item3, .item4 {
        width: 50%;
    }

    .item3, .item4 {
        margin-top: 30px;
    }

    .item p {
        margin-top: 15px;
        font-size: 20px;
    }

    ::placeholder {
        font-size: 15px;
    }

    .gallery__item:nth-child(n+3) {
        display: none;
    }

    .navigation__item>a {
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .header__wrapper {
        padding: 12px 16px 40px;
    }

    .header__bar>img {
        width: 121px;
        height: 24px;
    }

    .header__navigation li {
        display: none;
    }

    .night {
        background: url(./images/svg_sprite.svg);
        background-position: -24px -4px;
        width: 16px;
        height: 16px;
    }

    .night:hover {
        background-position: -208px -7px;
    }

    .login {
        background: url(./images/svg_sprite.svg);
        background-position: 0 0;
        width: 24px;
        height: 24px;
        margin: 0 16px;
    }

    .login:hover {
        background-position: -178px -3px;
    }

    .mobile__form {
        display: block;
    }

    .main__form {
        display: none;
    }

    .menu {
        display: block;
    }

    .header__title {
        font-size: 30px;
        margin-top: 40px;
    }

    .mobile__form {
        margin-top: 31px;
    }

    .mobile__form .form__content {
    padding: 8px;
    background: #F5BD41;
    }

    .mobile__form input {
        width: 100%;
        border: none;
        border-radius: 4px;
        font-family: "Roboto Medium";
        font-size: 15px;
    }

    .mobile__form button {
        margin-top: 8px;
        width: 100%;
        border: none;
        border-radius: 4px;
        background: #3077C6;
        color: #ffffff;
        font-family: "Roboto Medium";
        font-size: 19px;
        padding: 14px 125px;
        line-height: 20px;
    }

    .hotel-name {
        display: flex;
        background: #ffffff;
        padding: 15px 12px;
        align-items: center;
        border-radius: 4px;
        line-height: 17px;
    }

    .hotel-name label {
        margin-right: 8px;
    }

    .hotel-name input {
        flex-grow: 1;
    }

    .search-icon {
        background: url(./images/svg_sprite.svg);
        background-position: -154px 0;
        width: 16px;
        height: 16px;
    }

    .input__dates {
        display: flex;
        margin-top: 8px;
    }

    .input__date:first-child {
        margin-right: 8px;
    }

    .input__date {
        background: #ffffff;
        border-radius: 4px;
        padding: 6px 8px;
    }

    .input__date label {
        font-family: "Roboto Regular";
        font-size: 12px;
    }

    .input__persons {
        display: flex;
        margin-top: 8px;
        background: #ffffff;
        border-radius: 4px;
    }

    .input__person {
        padding: 6px 8px 3px;
        line-height: 19px;
        position: relative;
    }

    .input__person:nth-child(2)::after {
        content: "";
        background: #BFBFBF;
        width: 1px;
        height: 32px;
        position: absolute;
        top: 8px;
        right: 0;
        
    }

    .input__person:first-child::after {
        content: "";
        background: #BFBFBF;
        width: 1px;
        height: 32px;
        position: absolute;
        top: 8px;
        right: 0;
    }

    ::placeholder {
        font-family: "Roboto Medium";
        font-size: 15px;
        color: #383838;
    }

    .input__person label {
        font-family: "Roboto Regular";
        font-size: 12px;
    }

    .market__links {
        margin-top: 32px;
    }

    .offer__wrapper {
        padding: 24px 73px 40px;
    }

    .items {
        align-items: center;
        flex-flow: column;
    }

    .support__icon {
        background: url(./images/svg_sprite.svg);
        background-position: 0 -35px;
        width: 54px;
        height: 66px;
    }

    .communicate__icon {
        background: url(./images/svg_sprite.svg);
        background-position: -60px -38px;
        width: 60px;
        height: 60px;
    }

    .book__icon {
        background: url(./images/svg_sprite.svg);
        background-position: -126px -44px;
        width: 70px;
        height: 48px;
    }

    .review__icon {
        background: url(./images/svg_sprite.svg);
        background-position: -202px -30px;
        width: 66px;
        height: 60px;
    }

    .item p {
        margin: 16px 0 32px;
        font-size: 15px;
    }

    .home__wrapper {
        padding: 40px 15px;
    }

    .section__title {
        font-size: 28px;
    }

    .gallery {
        margin-top: 32px;
    }

    .gallery::after {
    width: 28px;
    height: 28px;
    background-image: url(./images/svg_sprite.svg);
    background-position: -337px -9px;
    top: 32%;
    right: -2%;
}

    .gallery__item h3 {
        font-size: 12px;
        margin-top: 8px;
    }

    .gallery__item p {
        font-size: 12px;
        margin-top: 4px;
    }

    .footer__wrapper {
        padding: 40px 68px 40px 67px;
    }

    .navigation__item>a {
        font-size: 15px;
        text-decoration: underline;
    }

    .logo {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .footer-logo-white {
        display: none;
    }

    .navigation__item ul {
        display: none;
    }

    .footer__navigation p {
        font-size: 12px;
        margin-top: 32px;
    }
}